@tailwind base;
@tailwind components;
@tailwind utilities;

.w-full-600 {
  width: 100%;
  @media (min-width: 600px) {
    width: inherit;
  }
}

.h-auto-600 {
  height: auto;
  @media (min-width: 600px) {
    height: inherit;
  }
}
